.mybtn{
    position: fixed;
    right: 0px;
    bottom: 0px;
}

.mytext{
    position: relative;
    /* left: 50px; */
    top: 15px;
}

.pricing{
    background-color: red;
    overflow: hidden;
}

.outer-div{
    width: 33.33%;
    float: left;
}

.inner-div{
    background-color: rgb(182, 182, 217);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(104, 95, 95);
    position: relative;
}

.discount{
    background-color: blue;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.navbar{
    background-color: blue;
    padding: 10px;
    text-align: right;
    position: sticky;
    top: 0;
}

.navbar a{
    color: white;
    /* text-decoration: overline; */
    /* text-decoration: line-through; */
    /* text-decoration: underline; */
    text-decoration: none;
}