body{
    font-family: sans-serif;
}

.pricing{
    display: flex;
}

.pricing-div{
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgb(135, 126, 126);
}